<!DOCTYPE html>
<html>
<body>
    <!-- Below is the html logic for the UI of the leaderboard  -->
    <h1>Leaderboard</h1>
    <table border="3">
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>

        {% for player in leaderboard %}
        <tr>
            <td>{{ player.rank }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.score }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Add Player</h2>
    <form method="POST" action="/add_player">
        <input type="text" name="name">
        <button type="submit">Add Player</button>
    </form>
</body>
</html>